/* fonts */
/* colors */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  padding-bottom: 35rem;
}

/* fonts */
/* colors */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #100E1D;
  padding-left: 2rem;
  padding-right: 2rem;
}
footer #lg-screen-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
}
@media screen and (min-width: 1280px) {
  footer #lg-screen-flex-container {
    margin-top: 3rem;
    flex-direction: row;
    justify-content: space-around;
    height: 50%;
  }
}
footer #social-links-container iconify-icon {
  transition: all 0.4s ease;
}
footer #social-links-container iconify-icon:hover {
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  transform: scale(1.2);
  margin-right: 0.2em;
  border-left: 2px solid white;
  padding-left: 0.3rem;
}
footer #social-links-container #twitter:hover {
  margin-left: 0.6rem;
}
footer #social-links-container #linkedin:hover {
  margin-left: 0.6rem;
}
footer #email-contact-container {
  margin: 0 auto;
}
@media screen and (min-width: 1280px) {
  footer #email-contact-container {
    margin: 0;
  }
}
footer #email-input-container {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 0.4rem;
  justify-content: center;
  width: 15rem;
}
@media screen and (min-width: 1280px) {
  footer #email-input-container {
    width: 23rem;
  }
}
footer #email-input-container input {
  height: 2.4rem;
  border-radius: 7px;
  padding-left: 1rem;
}
@media screen and (min-width: 1280px) {
  footer #email-input-container input {
    height: 3rem;
  }
}
footer #email-input-container button {
  position: absolute;
  right: 0;
  background-color: #2D9CDB;
  height: 2.2rem;
  width: 4.2rem;
  border-radius: 10px;
  margin-right: 0.2rem;
  transition: all 0.2s ease;
}
@media screen and (min-width: 1280px) {
  footer #email-input-container button {
    height: 2.7rem;
    width: 6rem;
  }
}
footer #email-input-container button:hover {
  background-color: #59b1e2;
  cursor: pointer;
}
footer #author-container {
  display: flex;
  justify-content: center;
}
footer p {
  position: absolute;
  bottom: 1rem;
  text-align: center;
}
footer #sitemap ul {
  list-style-type: none;
}
footer #sitemap ul li {
  transition: padding-left 0.3s ease;
}
footer #sitemap ul li:hover {
  border-left: 2px solid white;
  padding-left: 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
footer #sitemap ul a {
  text-decoration: none;
}

#hero h1, #hero h2 {
  color: #333333;
  font-weight: 500;
}
#hero #title h1 {
  font-size: 1.3rem;
  font-size: clamp(1rem, 0.7rem + 1.5vw, 2.5rem);
  align-self: flex-start;
  margin-left: 2rem;
  margin-left: 8%;
}
@media screen and (min-width: 1280px) {
  #hero #title h1 {
    margin-left: 20%;
  }
}
#hero #title p {
  font-weight: 500;
  font-size: 0.7rem;
  font-size: clamp(0.7rem, 0.56rem + 0.7vw, 1.4rem);
  align-self: flex-start;
  margin-left: 2rem;
  margin-left: 8%;
}
@media screen and (min-width: 1280px) {
  #hero #title p {
    margin-left: 20%;
  }
}
#hero #mission-statement {
  margin-left: 8%;
}
@media screen and (min-width: 1280px) {
  #hero #mission-statement {
    margin-left: 20%;
  }
}
#hero #mission-statement h1 {
  font-size: clamp(1rem, 0.7rem + 1.5vw, 2.5rem);
}
#hero #mission-statement p {
  font-size: 0.6rem;
  font-size: clamp(0.6rem, 0.5rem + 0.5vw, 1.1rem);
  color: #4f4f4f;
  width: 14rem;
}
@media screen and (min-width: 1280px) {
  #hero #mission-statement p {
    width: 30%;
  }
}

#hamburger-title-flex-container iconify-icon {
  font-size: 2rem;
}
#hamburger-title-flex-container ul li {
  text-align: center;
}
#hamburger-title-flex-container ul li a {
  font-weight: 600;
  font-size: 1.3rem;
}

footer {
  font-size: 0.6rem;
  font-size: clamp(0.6rem, 0.52rem + 0.4vw, 1rem);
}
footer #social-links-container h1 {
  font-size: 1.6rem;
  font-size: clamp(1.6rem, 1.42rem + 0.9vw, 2.5rem);
  color: #f2f2f2;
  margin-bottom: 0.5rem;
  margin-left: 0.4rem;
}
footer #social-links-container iconify-icon {
  margin-left: 0.3rem;
  color: #737373;
  font-size: 1.2rem;
  font-size: clamp(1.2rem, 1.04rem + 0.8vw, 2rem);
}
footer #social-links-container iconify-icon:hover {
  color: #f2f2f2;
}
footer #email-contact-container label {
  color: #828282;
  font-size: 0.6rem;
  font-size: clamp(0.6rem, 0.52rem + 0.4vw, 1rem);
}
footer #email-input-container input::-moz-placeholder {
  font-size: 0.7rem;
  color: #bdbdbd;
}
footer #email-input-container input:-ms-input-placeholder {
  font-size: 0.7rem;
  color: #bdbdbd;
}
footer #email-input-container input::placeholder {
  font-size: 0.7rem;
  color: #bdbdbd;
}
footer p {
  color: #f2f2f2;
  text-align: center;
}
footer a {
  color: #f2f2f2;
  font-weight: 600;
}
footer button {
  color: white;
  font-size: 0.8rem;
}
footer #sitemap ul {
  line-height: 1.7rem;
}
footer #sitemap ul a {
  font-weight: 400;
  font-size: 0.9rem;
  font-size: clamp(0.9rem, 0.8rem + 0.5vw, 1.4rem);
}

#hamburger-title-flex-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 5;
}
@media screen and (min-width: 1280px) {
  #hamburger-title-flex-container {
    display: none;
  }
}
#hamburger-title-flex-container h1#edie-title-sm-sc {
  font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
}
#hamburger-title-flex-container iconify-icon {
  color: black;
  z-index: 6;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 0 #2d9cdb;
  transition: transform ease 0.2s;
}
#hamburger-title-flex-container iconify-icon:hover {
  transform: scale(1.1);
  filter: drop-shadow(-3px 3px 0 #2d9cdb);
}
#hamburger-title-flex-container iconify-icon:active {
  transform: scale(1);
}
#hamburger-title-flex-container iconify-icon#menu-close {
  color: white;
}
#hamburger-title-flex-container iconify-icon#menu-open:hover {
  filter: drop-shadow(-2px 1.2px 0 #2d9cdb);
}

.menu-box {
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-bottom-left-radius: 300%;
  transition: width 0.5s, height 0.5s, border-radius 0.5s;
}
.menu-box ul li {
  list-style: none;
  margin: 1rem 0;
  opacity: 0;
  transform: translateY(30px);
}
.menu-box ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  position: relative;
  text-shadow: 0 0 0 #2d9cdb;
  transition: text-shadow 0.5s, transform 0.5s;
}
.menu-box ul li a:hover {
  text-shadow: -3px 3px 0 #2d9cdb;
  transform: translateY(-6px);
}
.menu-box ul li a::after {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  bottom: 8px;
  right: -12px;
  opacity: 0;
  box-shadow: 0 0 0 #2d9cdb;
  transition: box-shadow 0.5s;
}
.menu-box ul li a:hover::after {
  opacity: 1;
  box-shadow: -1px 2px 0 #2d9cdb;
}

.open-menu {
  width: 100%;
  height: 100vh;
  border-bottom-left-radius: 0;
  z-index: 5;
}
.open-menu ul {
  margin-top: -35rem;
}
.open-menu ul li {
  opacity: 1;
  transform: translateY(0);
  transition: transform 1s, opacity 1s;
  transition-delay: 0.4s;
}

.menu-icon {
  display: none;
}

.open {
  display: inline-block;
}

#hero #title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#hero #title h1 {
  padding: 0.2rem 0 1rem 0;
}
@media screen and (min-width: 1280px) {
  #hero #title h1 {
    padding: 0.7rem 0 2rem 0;
  }
}
#hero #title p {
  color: #2d9cdb;
}
#hero #title img#small-screens {
  width: 95vw;
  height: 8rem;
  height: clamp(8rem, 3.6rem + 22vw, 30rem);
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1280px) {
  #hero #title img#small-screens {
    display: none;
  }
}
#hero #title img#large-screens {
  display: none;
  width: 95vw;
  height: auto;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1280px) {
  #hero #title img#large-screens {
    display: block;
  }
}
#hero #mission-statement {
  display: flex;
  flex-direction: column;
}
#hero #mission-statement h1 {
  padding: 1rem 0 1rem 0;
}
@media screen and (min-width: 1280px) {
  #hero #mission-statement h1 {
    padding: 2rem 0 2rem 0;
  }
}
@media screen and (min-width: 1280px) {
  #hero #mission-statement p {
    padding: 0 0 1rem 0;
  }
}

header {
  padding: 1rem 1rem 2rem 1rem;
}

#hero #hero-email-contact-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1280px) {
  #hero #hero-email-contact-container {
    display: inline-flex;
    margin-left: 20%;
  }
}
#hero #hero-email-input-container {
  position: relative;
  display: flex;
  align-items: center;
}
#hero #hero-email-input-container input {
  height: clamp(2.5rem, 2.46rem + 0.2vw, 2.7rem);
  width: clamp(17.5rem, 17.4rem + 0.5vw, 18rem);
  background-color: #f2f2f2;
  border-radius: 8px;
  border: none;
  color: #bdbdbd;
  padding-left: 1rem;
}
@media screen and (min-width: 1280px) {
  #hero #hero-email-input-container input {
    height: 2.7rem;
    width: 18rem;
  }
}
#hero #hero-email-input-container input::-moz-placeholder {
  font-weight: 500;
}
#hero #hero-email-input-container input:-ms-input-placeholder {
  font-weight: 500;
}
#hero #hero-email-input-container input::placeholder {
  font-weight: 500;
}
#hero #hero-email-input-container button {
  position: absolute;
  right: 0.2rem;
  width: clamp(4rem, 3.8rem + 1vw, 5rem);
  background-color: #2D9CDB;
  border-radius: 8px;
  border: none;
  color: white;
  height: clamp(2.1rem, 2.04rem + 0.3vw, 2.4rem);
}
#hero label {
  color: #828282;
  font-size: 0.7rem;
  font-size: clamp(0.7rem, 0.66rem + 0.2vw, 0.9rem);
  font-weight: 500;
  margin-left: clamp(-8rem, -8.2rem + 1vw, -7rem);
  padding-bottom: 0.3rem;
}

#desktop-nav {
  display: none;
  justify-content: space-between;
}
#desktop-nav h1#edie-title-lg-sc {
  font-size: clamp(2rem, 1.9rem + 0.5vw, 2.5rem);
}
@media screen and (min-width: 1280px) {
  #desktop-nav {
    display: flex;
  }
}
#desktop-nav #desktop-nav-list {
  display: flex;
  justify-content: space-around;
  width: 40rem;
  list-style: none;
  font-weight: 500;
  color: #333333;
}
#desktop-nav #desktop-nav-list li {
  transition: all 0.2s ease;
  font-size: clamp(1rem, 0.94rem + 0.3vw, 1.3rem);
}
#desktop-nav #desktop-nav-list li:hover {
  transform: scale(1.1);
}
#desktop-nav #desktop-nav-list a {
  text-decoration: none;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
#desktop-nav #desktop-nav-list a:hover {
  border-left: solid black 2px;
  border-right: solid black 2px;
}
#desktop-nav #desktop-nav-list a:active {
  color: #2D9CDB !important;
}
#desktop-nav #desktop-nav-list a:visited {
  color: black;
}

.service-card-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30rem;
  width: 90%;
  border-radius: 15px;
  padding: 10%;
}
.service-card-outer-container:hover {
  box-shadow: 0px 0px 20px 10px rgb(241, 241, 241);
}
.service-card-outer-container .service-card-title {
  font-size: 1.7rem;
  color: #333333;
}
.service-card-outer-container .service-card-description {
  color: #4f4f4f;
}
.service-card-outer-container .service-card-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d9cdb;
  height: 4rem;
  width: 4rem;
  border-radius: 15px;
}
.service-card-outer-container .service-card-icon-container iconify-icon {
  font-size: 2.4rem;
}
.service-card-outer-container .service-card-button {
  background-color: #2D9CDB;
  color: white;
  height: 2.5rem;
  width: 7rem;
  border-radius: 13px;
  border: none;
}

#services {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding-bottom: 10rem;
}
#services h1 {
  color: #333333;
  font-weight: 500;
  padding-top: 5rem;
  margin-left: -2.5rem;
  margin-bottom: 2rem;
}/*# sourceMappingURL=main.css.map */