/* fonts */
$heebo: 'Heebo', sans-serif;
$poppins: 'Poppins', sans-serif;

 /* colors */
$accent-blue-light: #2d9cdb;
$accent-blue-dark: #100E1D;
$accent-orange: #EB5757;

$font-accent-grey-light: #828282;
$font-main-dark-black: #333333;
$font-secondary-light-black: #4f4f4f;

$button-accent-grey-mid: #e0e0e0;
$button-accent-grey-light: #f2f2f2;
$button-font-light-grey: #bdbdbd;
$button-green: #27AE60;
$button-blue: #2D9CDB;


