footer {
    font-size: .6rem;
    font-size: clamp(0.6rem, 0.52rem + 0.4vw, 1rem);

     
    #social-links-container {
        
        
        h1 {
            font-size: 1.6rem;
            font-size: clamp(1.6rem, 1.42rem + 0.9vw, 2.5rem);
            color: $button-accent-grey-light;
            margin-bottom: .5rem;
            margin-left: .4rem;
        }

        iconify-icon {
            margin-left: .3rem;
            color: darken($button-accent-grey-light, 50%);
            font-size: 1.2rem;
            font-size: clamp(1.2rem, 1.04rem + 0.8vw, 2rem);

            &:hover {
                color: $button-accent-grey-light;
            }
        }
    }

    #email-contact-container {
        label {
            color: $font-accent-grey-light;
            font-size: .6rem;
            font-size: clamp(0.6rem, 0.52rem + 0.4vw, 1rem);
        }
    }

    #email-input-container {
   
       input::placeholder  {
            font-size: .7rem;
            color: $button-font-light-grey;
        }
    }

    p {
        color: $button-accent-grey-light;
        text-align: center;
    }

    a {
        color: $button-accent-grey-light;
        font-weight: 600;
    }

    button {
        color: white;
        font-size: .8rem;
    }

    #sitemap {
        ul {
            line-height: 1.7rem;
           a {
            font-weight: 400;
            font-size: .9rem;
            font-size: clamp(0.9rem, 0.8rem + 0.5vw, 1.4rem);
           }
        }   
    }

}