footer {
    font-size: .6rem;

     
    #social-links-container {
        // background-color: orange;
        // width: 5rem;
        
        h1 {
            font-size: 1.6rem;
            color: $button-accent-grey-light;
            margin-bottom: .5rem;
            margin-left: .4rem;
        }

        iconify-icon {
            margin-left: .3rem;
            color: darken($button-accent-grey-light, 50%);

            &:hover {
                color: $button-accent-grey-light;
            }
        }
    }

    #email-contact-container {
        label {
            color: $font-accent-grey-light;
        }
    }

    p {
        color: $button-accent-grey-light;
        text-align: center;
    }

    a {
        color: $button-accent-grey-light;
        font-weight: 600;
    }

    button {
        color: white;
        font-size: .8rem;
    }

    #sitemap {
        ul {
            line-height: 1.7rem;
           a {
            font-weight: 400;
            font-size: .9rem;
           }
        }   
    }

}