footer {
    font-size: .6rem;

     
    #social-links-container {
        iconify-icon, h1 {
            color: $button-accent-grey-light;
        }
    }

    #email-contact-container {
        label {
            color: $font-accent-grey-light;
        }
    }

    p {
        color: $button-accent-grey-light;
        text-align: center;
    }

    a {
        color: $button-accent-grey-light;
        font-weight: 600;
    }

    button {
        color: white;
        font-size: .8rem;
    }

}