footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $accent-blue-dark;
    padding-left: 2rem;
    padding-right: 2rem;

    #sitemap {
        align-self: flex-start;
    }
    
    #social-links-container {
        align-self: flex-start;

        iconify-icon:hover {
            transform: scale(1.2);
            margin-right: .2em;
            border-left: 2px solid white;
            padding-left: .3rem;
            transition: all ease .4s;
        }
    
        // #instagram:hover {
                  
                    
        //         }
    
        #twitter:hover  {
            margin-left: .6rem;
                }
    
        #linkedin:hover  {
            margin-left: .6rem;
           }

        iconify-icon {
        font-size: 1.2rem;

           
      
        }
    }

    #email-contact-container {
      
    }

    #email-input-container {
        display: flex;
        position: relative;
        flex-direction: column;
        // align-items: center;
        margin-top: .4rem;
        justify-content: center;
        width: 15rem;

        input {
            height: 2.2rem;
            border-radius: 7px;
            padding-left: .5rem;

            &::placeholder {
                margin-left: 2rem;
            }
        }

        button { 
            position: absolute;
            right: 0;
            background-color: $button-blue;
            height: 1.8rem;
            width: 4rem;
            border-radius: 10px;
            margin-right: .2rem;
        }
    }

    #author-container {
        display: flex;
        justify-content: center;
    }

    p {
        position: absolute;
        bottom: .5rem;
        text-align: center;
    }

    #sitemap {
        ul {
           list-style-type: none;

           li {
            &:hover {
                border-left: 2px solid white;
                transition: padding-left ease .3s;
                padding-left: .5rem;
            }
           }
           a {
            text-decoration: none;
           }
        }   
    }
}