@import '../utilities/mixins';

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $accent-blue-dark;
    padding-left: 2rem;
    padding-right: 2rem;

    #lg-screen-flex-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 90%;
        @include laptop {
            margin-top: 3rem;
            flex-direction: row;
            justify-content: space-around;
            height: 50%;
        }
    }

    #social-links-container {

        iconify-icon {
             transition: all .4s ease;
            &:hover {
                animation-direction: alternate;
                transform: scale(1.2);
                margin-right: .2em;
                border-left: 2px solid white;
                padding-left: .3rem;
            }
        }
    
        #twitter:hover  {
            margin-left: .6rem;
        }
    
        #linkedin:hover  {
            margin-left: .6rem;
        }
    }

    #email-contact-container {
        margin: 0 auto;

        @include laptop {
            margin: 0;
        }
    }

    #email-input-container {
        display: flex;
        position: relative;
        flex-direction: column;
        margin-top: .4rem;
        justify-content: center;
        width: 15rem;
        @include laptop {
            width: 23rem;
        }

        input {
            height: 2.7rem;
            border-radius: 7px;
            padding-left: 1rem;
            @include laptop {
                height: 3rem;
            }
        }

        button { 
            position: absolute;
            right: 0;
            background-color: $button-blue;
            height: 2.2rem;
            width: 4.2rem;
            border-radius: 10px;
            margin-right: .2rem;
            transition: all .2s ease;
            @include laptop {
                height: 2.7rem;
                width: 6rem;
            }

            &:hover {
                background-color: lighten($button-blue, 10%);
                cursor: pointer;
            }
        }
    }

    #author-container {
        display: flex;
        justify-content: center;
    }

    p {
        position: absolute;
        bottom: 1rem;
        text-align: center;
    }

    #sitemap {
        ul {
           list-style-type: none;

           li {
            transition: padding-left .3s ease;
            &:hover {
                border-left: 2px solid white;
                padding-left: .5rem;
                width: fit-content;
            }
           }
           a {
            text-decoration: none;
           }
        }   
    }
}