#hero {
   
    #title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    h1 {
        // color: $font-main-dark-black;
    }
    p {
        color: $accent-blue-light;
    }

    img {
        width: 95vw;
        height: 8rem;
        border-radius: 10px;
        object-fit: cover;
    }
}

    #mission-statement {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;

        h1 {
            padding: 1rem 0 1rem 0;
        }

        p {

        }
    }

    
}
