#hero {

    #title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    h1 {
        padding: .2rem 0 1rem 0;
        @include laptop {
        padding: .7rem 0 2rem 0;
        }
    }
    p {
        color: $accent-blue-light;
    }

    img#small-screens {
        width: 95vw;
        height: 8rem;
        height: clamp(8rem, 3.6rem + 22vw, 30rem);
        border-radius: 10px;
        object-fit: cover;

        @include laptop {
            display: none;
        }
    }
  
    img#large-screens {
        display: none;
        width: 95vw;
        height: auto;
        border-radius: 10px;
        object-fit: cover;

        @include laptop {
            display: block;
        }
    }
}

    #mission-statement {
        display: flex;
        flex-direction: column;

        h1 {
            padding: 1rem 0 1rem 0;
            @include laptop {
                padding: 2rem 0 2rem 0;
            }
        }

        p {
            @include laptop {
                padding: 0 0 3rem 0;
            }
        }
    }
}
