#portfolio  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #portfolio-grid-container {
        @include laptop {
            padding: 0 14rem 0 14rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;
            grid-column-gap: 1rem;

            .portfolio-item-container:nth-child(odd) {
                margin-top: 7rem;
            }
        }
    }

    h1 {
        margin-bottom: 3rem;
        font-weight: 500;
        color: $font-main-dark-black;
        @include laptop {
            margin-left: -22rem;
        }
    }

    #see-more-link-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        position: relative;
        margin-left: -11.5rem;
        @include laptop {
            margin-left: 25rem;
        }
        
        a {
            padding-right: 1rem;
            color: $button-blue;
            text-decoration: none;
            font-weight: 500;
            
            &::before {
                content: '';
                height: 2px;
                width: 0%;
                opacity: 0;
                background-color: $button-blue;
                position: absolute;
                bottom: 0;
                right: 0;
                transition: all ease .4s;
            }
        }

        a:hover::before {
            width: 100%;
            opacity: 1;
            left: 0;
            // right: auto;
        }
    }
}