#services {
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-bottom: 10rem;
   

    h1 {
        color: $font-main-dark-black;
        font-weight: 500;
        padding-top: 5rem;
        margin-left: -2.5rem;
        // margin-left: -15%;
        margin-bottom: 2rem;
        font-size: 1.5rem;
        font-size: clamp(1.5rem, 1.36rem + 0.7vw, 2.2rem);
        @include laptop {
            margin-left: -48%;
        }
    }
    
}