#team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    margin-top: 3rem;
    @include laptop {
        flex-direction: row;
        margin-top: 8rem;
    }

    #team-text-content {
        padding-right: 4rem;
        @include tablet {
            align-self: center;
            padding-right: clamp(5rem, 0.6rem + 22vw, 27rem);
            padding-left: clamp(0rem, -1rem + 5vw, 5rem);
        }
        padding-bottom: 7%;

        h1 {
            font-size: .7rem;
            font-size: clamp(0.7rem, 0.6rem + 0.5vw, 1.2rem);
            color: $accent-orange;
            font-weight: 500;
            padding-bottom: 4%;
        }
    
        h2 {
            color: $font-main-dark-black;
            font-weight: 500;
            padding-bottom: 4%;
            font-size: 1.5rem;
            font-size: clamp(1.5rem, 1.36rem + 0.7vw, 2.2rem);
        }
    
        p {
            font-size: .7rem;
            font-size: clamp(0.7rem, 0.58rem + 0.6vw, 1.3rem);
        }
    }

    img {
     width: clamp(9rem, 6.8rem + 11vw, 20rem);
     height: clamp(9rem, 6.8rem + 11vw, 20rem);
     border-radius: 15px;
     border-radius: clamp(0.938rem, 0.813rem + 0.625vw, 1.563rem);
    }

    #team-flex-container {
        display: flex;
        justify-content: space-around;
        width: clamp(19rem, 14.2rem + 24vw, 43rem);
        height: clamp(18rem, 13.6rem + 22vw, 40rem);

        #men-images {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        #woman {
            align-self: center;
        }
        
        #man-no-glasses {
            height: 8rem;
            width: 8rem;
            height: clamp(8rem, 6.4rem + 8vw, 16rem);
            width: clamp(8rem, 6.4rem + 8vw, 16rem);
        }

        #man-glasses {
            width: clamp(9rem, 7rem + 10vw, 19rem);
        }
    }
}