#hamburger-title-flex-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 5;
    @include laptop {
        display: none;
    }

    h1#edie-title-sm-sc {
        font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
    }

    iconify-icon {
        color: black;
        z-index: 6;
        position: relative; 
        cursor: pointer;
        box-shadow: 0 0 0 $accent-blue-light;
        transition: transform ease .2s;

        &:hover {
            transform: scale(1.1);
            filter: drop-shadow( -3px 3px 0 $accent-blue-light);
        }

        &:active {
            transform: scale(1);
        }

        &#menu-close {
            color: white;
        }

        &#menu-open:hover {
            filter: drop-shadow( -2px 1.2px 0 $accent-blue-light);
        }
    }
}

.menu-box {
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-bottom-left-radius: 300%;
    transition: width .5s, height .5s, border-radius .5s;

    ul li {
        list-style: none;
        margin: 1rem 0;
        opacity: 0;
        transform: translateY(30px);

        a {
            display: inline-block;
            text-decoration: none;
            color: white;
            position: relative;
            text-shadow: 0 0 0 $accent-blue-light;
            transition: text-shadow .5s, transform .5s;
              &:hover {
                text-shadow: -3px 3px 0 $accent-blue-light;
                transform: translateY(-6px);
            }

            &::after {
              content: '';   
              width: 7px;
              height: 7px;
              border-radius: 50%;
              background-color: white;
              position: absolute;
              bottom: 8px;
              right: -12px;
              opacity: 0;
              box-shadow: 0 0 0 $accent-blue-light;
              transition: box-shadow .5s;
            }

            &:hover::after {
                opacity: 1;
                box-shadow: -1px 2px 0 $accent-blue-light;
            }
        }
    }
}

.open-menu {
    width: 100%;
    height: 100vh;
    border-bottom-left-radius: 0;
    z-index: 5;

        ul { 
            margin-top: -35rem;
            li {
            opacity: 1;
            transform: translateY(0);
            transition: transform 1s, opacity 1s;
            transition-delay: .4s;
        }
    } 
}

.menu-icon {
    display: none;
}

.open {
    display: inline-block;
}


