#hero {

    #hero-email-contact-container {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
        @include laptop {
            display: inline-flex;
            margin-left: 20%;
        }
    }

    #hero-email-input-container {
        position: relative;
        display: flex;
        align-items: center;

       

        input {
            height: 2.5rem;
            background-color: $button-accent-grey-light;
            border-radius: 8px;
            border: none;
            color: $button-font-light-grey;
            padding-left: 1rem;

            @include laptop {
                height: 2.7rem;
                width: 18rem;
                
            }

            &::placeholder {
                font-weight: 500;
            }
        }
    
        button {
            position: absolute;
            right: .2rem;
            width: clamp(4rem, 3.8rem + 1vw, 5rem);
            background-color: $button-blue;
            border-radius: 8px;
            border: none;
            color: white;
            height: clamp(2.1rem, 2.04rem + 0.3vw, 2.4rem);
         
        }
    }
    label {
        color: $font-accent-grey-light;
        font-size: .7rem;
        font-size: clamp(0.7rem, 0.66rem + 0.2vw, 0.9rem);
        font-weight: 500;
        margin-left: clamp(-8rem, -8.2rem + 1vw, -7rem);
        padding-bottom: .3rem;
    }

   
}