#hero {

    #hero-email-contact-container {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
        @include laptop {
        
        }
    }

    #hero-email-input-container {
        position: relative;
        display: flex;
        align-items: center;

       

        input {
            height: 2.5rem;
            background-color: $button-accent-grey-light;
            border-radius: 8px;
            border: none;
            color: $button-font-light-grey;
            padding-left: 1rem;

            @include laptop {
                height: 3rem;
                width: 20rem;
                
            }

            &::placeholder {
                font-weight: 500;
            }
        }
    
        button {
            position: absolute;
            right: .2rem;
            width: 4rem;
            background-color: $button-blue;
            border-radius: 8px;
            border: none;
            color: white;
            height: 2.1rem;
            // align-self: center;
            @include laptop {
                height: 2.6rem;
                width: 5rem;
            }
        }
    }
    label {
        color: $font-accent-grey-light;
        font-size: .7rem;
        font-size: clamp(0.7rem, 0.66rem + 0.2vw, 0.9rem);
        font-weight: 500;
        margin-left: -8rem;
        padding-bottom: .3rem;
    }

   
}