#hero {

    #hero-email-contact-container {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        @include laptop {
        
        }
    }

    #hero-email-input-container {
        position: relative;
        display: flex;
       

        input {
            height: 2.5rem;
            background-color: $button-accent-grey-light;
            border-radius: 8px;
            border: none;
            color: $button-font-light-grey;
            padding-left: 1rem;

            @include laptop {
                height: 3rem;
                // width: ;
                
            }

            &::placeholder {

            }
        }
    
        button {
            position: absolute;
            right: .2rem;
            width: 4rem;
            background-color: $button-blue;
            border-radius: 8px;
            border: none;
            color: white;
            height: 2.1rem;
        }
    }
    label {
        color: $font-accent-grey-light;
        font-size: .7rem;
        // font-size: 1rem;
        font-weight: 500;
        margin-left: -8rem;
        padding-bottom: .3rem;
    }

   
}