#portfolio {

    .portfolio-item-container {
        padding-bottom: 3rem;

        h2, figcaption {
            transition: all .9s ease;
        }

        &:hover h2, &:hover figcaption {
            transform: scale(1.2);
            transform: translate(2rem, .5rem);
        }
    }

    .portfolio-item-image {
        height: 19rem;
        width: 19rem;
        height: clamp(19rem, 14.6rem + 22vw, 41rem);
        width: clamp(19rem, 14.6rem + 22vw, 41rem);
        border-radius: 20px;
        transition: all .3s ease-out;
    }

    .image-container {
        overflow: hidden;
        border-radius: 15px;
        
        img:hover {
            transform: scale(1.1);
        }
    }

    .portfolio-item-img-caption {
        color: $font-accent-grey-light;
        font-size: .7rem;
        font-size: clamp(0.7rem, 0.6rem + 0.5vw, 1.2rem);
    }

    .portfolio-item-title {
        color: $font-main-dark-black;
        font-weight: 500;
        font-size: 1.1rem;
        font-size: clamp(1.1rem, 0.96rem + 0.7vw, 1.8rem);
    }

        iconify-icon {
            font-size: 1.5rem;
            color: $button-blue;
        }
    }
