#service-cards-outer-container {
   
    @include laptop {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
}

.service-card-outer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // background-color: rgb(216, 216, 216);
    height: 30rem;
    // width: 90%;
    width: 18rem;
    width: 25rem;
    width: clamp(18rem, 16.6rem + 7vw, 25rem);
    border-radius: 15px;
    // padding: 10%;
    padding: 1.5rem;

    &:hover {
        box-shadow: 0px 0px 20px 10px rgb(241, 241, 241);
    }
    
    .service-card-title {
        font-size: 1.6rem;
        color: $font-main-dark-black;
    }

    .service-card-description {
        font-size: .9rem;
        color: $font-secondary-light-black;
        width: 100%;
    }

    .service-card-icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $accent-blue-light;
        height: 4rem;
        width: 4rem;
        border-radius: 15px;

        &.uiuxdesign {
            background-color: $button-blue ;
        }

        &.frontend {
            background-color: $button-green;
        }

        &.backend {
            background-color: $accent-orange;
        }
        
        iconify-icon {
            font-size: 2.4rem;
        }

    }

    .service-card-button {
        color: $font-accent-grey-light;
        height: 2.5rem;
        width: 7rem;
        border-radius: 13px;
        border: none;
        transition: all .3s ease;

        &:hover {
            background-color: $button-blue;
            color: white;
        }
    }
}